<div class="user-profile">
  <h1>Welcome, <%= @user.name %>!</h1>

  <div class="user-details">
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Spotify ID:</strong> <%= @user.spotify_id %></p>
  </div>

  <div class="actions">
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
  </div>
</div>
